In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import decomposition
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
%matplotlib inline

We've talked about Random Forests. Now it's time to build one.

Here we'll use data from Lending Club to predict the state of a loan given some information about it. You can find the dataset [here](https://www.lendingclub.com/info/download-data.action). We'll use 2015 data. ([Thinkful mirror](https://www.dropbox.com/s/m7z42lubaiory33/LoanStats3d.csv?dl=0))

In [39]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'https://www.dropbox.com/s/0so14yudedjmm5m/LoanStats3d.csv?dl=1',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

/root/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
y2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401,72868139.0,16000.0,16000.0,16000.0,60 months,14.85%,379.39,C,C5,...,0.0,2.0,78.9,0.0,0.0,2.0,298100.0,31329.0,281300.0,13400.0
1,68354783,73244544.0,9600.0,9600.0,9600.0,36 months,7.49%,298.58,A,A4,...,0.0,2.0,100.0,66.7,0.0,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916,73356753.0,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,0.0,0.0,100.0,20.0,0.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961,73356799.0,28000.0,28000.0,28000.0,36 months,6.49%,858.05,A,A2,...,0.0,0.0,91.7,22.2,0.0,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092,73384866.0,8650.0,8650.0,8650.0,36 months,19.89%,320.99,E,E3,...,0.0,12.0,100.0,50.0,1.0,0.0,38998.0,18926.0,2750.0,18248.0

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas to generate a dummy variable for every categorical colummn and see what happens off of this kind of naive approach.

In [41]:
#from sklearn import ensemble
#from sklearn.model_selection import cross_val_score

#rfc = ensemble.RandomForestClassifier()
#X = y2015.drop('loan_status', 1)
#Y = y2015['loan_status']
#X = pd.get_dummies(X)

#cross_val_score(rfc, X, Y, cv=5)

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN!)

## Data Cleaning

Well, `get_dummies` can be a very memory intensive thing, particularly if data are typed poorly. We got a warning about that earlier. Mixed data types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If there's a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all our categorical variables and see how many distinct counts there are...

In [42]:
categorical = y2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

id
421097
term
2
int_rate
110
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
1
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
25
next_pymnt_d
4
last_credit_pull_d
26
application_type
2
verification_status_joint
3

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [43]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

Wonder what was causing the dtype error on the id column, which _should_ have all been integers? Let's look at the end of the file.

In [44]:
y2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,60 months,15.99,316.07,D,5 years,...,0.0,3.0,100.0,50.0,1.0,0.0,51239.0,34178.0,10600.0,33239.0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,60 months,19.99,317.86,E,1 year,...,1.0,2.0,95.0,66.7,0.0,0.0,96919.0,58418.0,9700.0,69919.0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,36 months,11.99,664.20,B,10+ years,...,0.0,1.0,100.0,50.0,0.0,1.0,43740.0,33307.0,41700.0,0.0
421095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

Now this should be better. Let's try again.

In [46]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,last_credit_pull_d_Nov-2016,last_credit_pull_d_Oct-2015,last_credit_pull_d_Oct-2016,last_credit_pull_d_Sep-2015,last_credit_pull_d_Sep-2016,application_type_INDIVIDUAL,application_type_JOINT,verification_status_joint_Not Verified,verification_status_joint_Source Verified,verification_status_joint_Verified
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0,0,0,0,0,1,0,0,0,0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0,0,0,0,0,1,0,0,0,0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0,0,0,0,0,1,0,0,0,0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0,0,0,0,0,1,0,0,0,0
5,68506798.0,73396623.0,23000.0,23000.0,23000.0,8.49,471.77,64000.0,18.28,0.0,...,0,0,0,0,0,1,0,0,0,0
6,68566886.0,73456723.0,29900.0,29900.0,29900.0,12.88,678.49,65000.0,21.77,0.0,...,0,0,0,0,0,1,0,0,0,0
7,68577849.0,73467703.0,18000.0,18000.0,18000.0,11.99,400.31,112000.0,8.68,0.0,...,0,0,0,0,0,1,0,0,0,0
8,66310712.0,71035433.0,35000.0,35000.0,35000.0,14.85,829.90,110000.0,17.06,0.0,...,0,0,0,0,0,1,0,0,0,0
9,68476807.0,73366655.0,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,...,0,0,0,0,0,1,0,0,0,0
10,68341763.0,72928789.0,20000.0,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,...,0,0,0,0,0,0,1,1,0,0
11,68356421.0,73246236.0,22400.0,22400.0,22400.0,12.88,508.30,95000.0,22.98,0.0,...,0,0,0,0,0,1,0,0,0,0
12,68426545.0,73316365.0,16000.0,16000.0,16000.0,12.88,363.07,70000.0,26.40,0.0,...,0,0,0,0,0,1,0,0,0,0
13,68407277.0,73297111.0,3600.0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,...,0,0,0,0,0,1,0,0,0,0
14,68355089.0,73244858.0,24700.0,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,...,0,0,0,0,0,1,0,0,0,0
15,68466926.0,73356763.0,10000.0,10000.0,10000.0,6.49,306.45,85000.0,13.07,0.0,...,0,0,0,0,0,1,0,0,0,0
16,68338832.0,73542831.0,1400.0,1400.0,1400.0,12.88,47.10,64000.0,34.95,0.0,...,0,0,0,0,0,1,0,0,0,0
17,68426831.0,73316657.0,11950.0,11950.0,11950.0,13.44,405.18,34000.0,10.20,0.0,...,0,0,0,0,0,1,0,0,0,0
18,66624733.0,71350547.0,18000.0,18000.0,18000.0,19.48,471.70,150000.0,9.39,0.0,...,0,0,0,0,0,1,0,0,0,0
19,68616873.0,73519699.0,8000.0,8000.0,8000.0,11.48,263.74,42000.0,34.80,0.0,...,0,0,0,0,0,1,0,0,0,0
20,67275481.0,72077199.0,20000.0,20000.0,20000.0,8.49,631.26,85000.0,17.61,1.0,...,0,0,0,0,0,1,0,0,0,0
21,68476668.0,73366513.0,20000.0,20000.0,20000.0,9.17,637.58,180000.0,14.67,0.0,...,1,0,0,0,0,1,0,0,0,0
22,68476702.0,73366548.0,28000.0,28000.0,28000.0,13.44,949.38,125000.0,7.49,0.0,...,0,0,0,0,0,1,0,0,0,0
23,68436666.0,73326493.0,5000.0,5000.0,5000.0,13.44,169.54,79000.0,12.70,0.0,...,0,0,0,0,0,1,0,0,0,0
24,68596180.0,73485987.0,20000.0,20000.0,20000.0,5.32,602.30,65000.0,18.83,0.0,...,0,0,0,0,0,1,0,0,0,0
25,67849662.0,72708407.0,4225.0,4225.0,4225.0,14.85,146.16,35000.0,15.22,2.0,...,0,0,0,0,0,1,0,0,0,0
26,68526883.0,73416719.0,15000.0,15000.0,15000.0,5.32,451.73,44000.0,15.34,0.0,...,0,0,0,0,0,1,0,0,0,0
27,68607141.0,73509983.0,17600.0,17600.0,17600.0,5.32,530.03,88000.0,26.59,0.0,...,1,0,0,0,0,1,0,0,0,0
28,68476715.0,73366561.0,6000.0,6000.0,6000.0,7.49,186.61,100000.0,13.28,1.0,...,0,0,0,0,0,1,0,0,0,0
29,67715283.0,72569997.0,16000.0,16000.0,16000.0,12.88,538.18,65000.0,18.96,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,36631385.0,39374138.0,13000.0,13000.0,13000.0,8.19,408.52,85000.0,8.05,1.0,...,0,0,0,0,0,1,0,0,0,0
421066,36231083.0,38942474.0,15000.0,15000.0,15000.0,11.99,498.15,70000.0,8.47,0.0,...,0,0,0,0,0,1,0,0,0,0
421067,36691397.0,39434133.0,20000.0,20000.0,20000.0,6.99,617.46,72000.0,27.24,0.0,...,0,0,0,0,0,1,0,0,0,0
421068,36743377.0,39486112.0,4200.0,4200.0,4200.0,15.99,147.64,48000.0,36.93,0.0,...,0,0,0,0,0,1,0,0,0,0
421069,36331554.0,39042967.0,26950.0,26950.0,26950.0,8.19,846.88,54000.0,18.11,0.0,...,0,0,0,0,0,1,0,0,0,0
421070,36460697.0,39182359.0,23000.0,23000.0,23000.0,15.59,554.32,50000.0,31.95,0.0,...,0,0,0,0,0,1,0,0,0,0
421071,35773415.0,38468842.0,18700.0,18700.0,18700.0,17.86,473.44,52000.0,11.28,0.0,...,0,0,0,0,0,1,0,0,0,0
421072,36250801.0,38962184.0,6000.0,6000.0,6000.0,17.86,216.50,90000.0,2.84,0.0,...,0,0,0,0,0,1,0,0,0,0
421073,36371802.0,39103231.0,15000.0,15000.0,15000.0,11.44,329.44,57000.0,15.77,0.0,...,0,0,0,0,0,1,0,0,0,0
421074,36440728.0,39152101.0,25000.0,25000.0,25000.0,15.99,607.82,103000.0,5.27,0.0,...,0,0,0,0,0,1,0,0,0,0
421075,36361815.0,39093260.0,26500.0,26500.0,26500.0,8.67,545.87,92000.0,29.60,1.0,...,0,0,0,0,0,1,0,0,0,0
421076,35591131.0,38288343.0,25000.0,25000.0,25000.0,15.59,602.52,55000.0,5.52,0.0,...,0,0,0,0,0,1,0,0,0,0
421077,36201871.0,38913321.0,21000.0,21000.0,21000.0,6.03,639.15,65000.0,17.09,0.0,...,0,0,0,0,0,1,0,0,0,0
421078,36381756.0,39013193.0,8000.0,8000.0,8000.0,8.19,251.40,50000.0,17.62,0.0,...,0,0,0,0,0,1,0,0,0,0
421079,36231724.0,38943173.0,12000.0,12000.0,12000.0,9.49,384.34,40000.0,25.65,1.0,...,0,0,1,0,0,1,0,0,0,0
421080,36301729.0,39023153.0,10000.0,10000.0,10000.0,6.49,306.45,75000.0,33.66,0.0,...,0,0,0,0,0,1,0,0,0,0
421081,36250208.0,38961532.0,13150.0,13150.0,13150.0,14.99,312.77,30000.0,1.00,0.0,...,0,0,0,0,0,1,0,0,0,0
421082,36241316.0,38952731.0,6225.0,6225.0,6225.0,16.49,220.37,27000.0,18.58,0.0,...,0,0,0,0,0,1,0,0,0,0
421083,36231718.0,38943165.0,10775.0,10775.0,10775.0,6.03,327.95,54000.0,13.22,1.0,...,0,0,0,0,0,1,0,0,0,0
421084,36381704.0,39013139.0,7000.0,7000.0,7000.0,14.31,240.30,57000.0,16.80,2.0,...,0,0,0,0,0,1,0,0,0,0
421085,36421485.0,39142898.0,4000.0,4000.0,4000.0,8.67,126.59,50000.0,12.63,0.0,...,0,0,1,0,0,1,0,0,0,0
421086,35094480.0,37777829.0,7500.0,7500.0,7500.0,9.49,240.22,40000.0,25.63,0.0,...,0,0,0,0,0,1,0,0,0,0
421087,36260758.0,38972123.0,10850.0,10850.0,10850.0,19.24,399.04,32000.0,29.44,0.0,...,0,0,1,0,0,1,0,0,0,0
421088,36221446.0,38932858.0,11575.0,11575.0,11575.0,15.59,404.61,25400.0,27.08,0.0,...,1,0,0,0,0,1,0,0,0,0
421089,36330911.0,39042282.0,12000.0,12000.0,12000.0,11.99,398.52,63000.0,23.69,1.0,...,0,0,0,0,0,1,0,0,0,0
421090,36371250.0,39102635.0,10000.0,10000.0,10000.0,11.99,332.10,31000.0,28.69,0.0,...,0,0,0,0,0,1,0,0,0,0
421091,36441262.0,39152692.0,24000.0,24000.0,24000.0,11.99,797.03,79000.0,3.90,0.0,...,0,0,0,0,0,1,0,0,0,0
421092,36271333.0,38982739.0,13000.0,13000.0,13000.0,15.99,316.07,35000.0,30.90,0.0,...,0,0,0,0,0,1,0,0,0,0
421093,36490806.0,39222577.0,12000.0,12000.0,12000.0,19.99,317.86,64400.0,27.19,1.0,...,0,0,1,0,0,1,0,0,0,0
421094,36271262.0,38982659.0,20000.0,20000.0,20000.0,11.99,664.20,100000.0,10.83,0.0,...,0,0,0,0,0,1,0,0,0,0

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [47]:
#from sklearn import ensemble
#from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)


#cross_val_score(rfc, X, Y, cv=10)

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

## DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [48]:
#y2015.head()
columns_before = set(y2015.columns)
y2015.drop(['grade', 'emp_length', 'tax_liens', 'all_util', 'home_ownership', 'purpose'], 1, inplace=True)
columns_after = set(y2015.columns)
print(columns_after)

{'open_rv_24m', 'acc_now_delinq', 'mo_sin_rcnt_tl', 'pct_tl_nvr_dlq', 'chargeoff_within_12_mths', 'last_pymnt_amnt', 'title', 'num_tl_op_past_12m', 'collections_12_mths_ex_med', 'num_rev_tl_bal_gt_0', 'total_bal_ex_mort', 'num_op_rev_tl', 'collection_recovery_fee', 'last_pymnt_d', 'mo_sin_old_il_acct', 'loan_amnt', 'pub_rec', 'mths_since_last_record', 'open_il_6m', 'mort_acc', 'total_pymnt', 'num_tl_90g_dpd_24m', 'verification_status_joint', 'mo_sin_old_rev_tl_op', 'initial_list_status', 'avg_cur_bal', 'dti', 'loan_status', 'revol_bal', 'application_type', 'mths_since_recent_bc', 'total_bal_il', 'tot_cur_bal', 'tot_hi_cred_lim', 'il_util', 'pymnt_plan', 'max_bal_bc', 'num_il_tl', 'num_bc_sats', 'total_rec_late_fee', 'inq_last_12m', 'pub_rec_bankruptcies', 'delinq_amnt', 'installment', 'percent_bc_gt_75', 'total_bc_limit', 'num_tl_120dpd_2m', 'annual_inc', 'total_acc', 'total_rec_int', 'funded_amnt_inv', 'total_rev_hi_lim', 'acc_open_past_24mths', 'total_pymnt_inv', 'annual_inc_joint', 'num_bc_tl', 'open_il_24m', 'next_pymnt_d', 'mths_since_recent_revol_delinq', 'member_id', 'open_acc', 'num_actv_bc_tl', 'num_sats', 'id', 'inq_last_6mths', 'num_tl_30dpd', 'mo_sin_rcnt_rev_tl_op', 'issue_d', 'mths_since_last_major_derog', 'mths_since_recent_bc_dlq', 'num_actv_rev_tl', 'out_prncp', 'open_il_12m', 'funded_amnt', 'tot_coll_amt', 'total_il_high_credit_limit', 'out_prncp_inv', 'total_rec_prncp', 'total_cu_tl', 'open_rv_12m', 'inq_fi', 'verification_status', 'int_rate', 'recoveries', 'mths_since_rcnt_il', 'delinq_2yrs', 'open_acc_6m', 'policy_code', 'bc_open_to_buy', 'mths_since_last_delinq', 'mths_since_recent_inq', 'term', 'bc_util', 'num_accts_ever_120_pd', 'num_rev_accts', 'dti_joint', 'last_credit_pull_d'}

In [49]:
y2015[columns_after]

,open_rv_24m,acc_now_delinq,mo_sin_rcnt_tl,pct_tl_nvr_dlq,chargeoff_within_12_mths,last_pymnt_amnt,title,num_tl_op_past_12m,collections_12_mths_ex_med,num_rev_tl_bal_gt_0,...,policy_code,bc_open_to_buy,mths_since_last_delinq,mths_since_recent_inq,term,bc_util,num_accts_ever_120_pd,num_rev_accts,dti_joint,last_credit_pull_d
0,4.0,0.0,6.0,78.9,0.0,379.39,Credit card refinancing,2.0,0.0,9.0,...,1.0,263953.0,33.0,11.0,60 months,17.6,2.0,11.0,NaN,Jan-2017
1,2.0,0.0,9.0,100.0,0.0,298.58,Credit card refinancing,2.0,0.0,3.0,...,1.0,4778.0,NaN,9.0,36 months,61.8,0.0,4.0,NaN,Jan-2017
2,1.0,0.0,13.0,100.0,0.0,20807.39,Debt consolidation,0.0,0.0,3.0,...,1.0,17538.0,NaN,0.0,36 months,54.3,0.0,9.0,NaN,Jan-2017
3,1.0,0.0,19.0,91.7,0.0,858.05,Debt consolidation,0.0,0.0,9.0,...,1.0,16623.0,42.0,NaN,36 months,59.9,0.0,18.0,NaN,Jan-2017
4,16.0,0.0,0.0,100.0,0.0,8251.42,Debt consolidation,12.0,0.0,13.0,...,1.0,1375.0,NaN,0.0,36 months,45.0,0.0,17.0,NaN,Jun-2016
5,3.0,0.0,8.0,87.9,0.0,471.77,Credit card refinancing,2.0,0.0,8.0,...,1.0,15603.0,29.0,8.0,60 months,60.5,0.0,19.0,NaN,Jan-2017
6,5.0,0.0,5.0,100.0,0.0,678.49,Debt consolidation,4.0,0.0,5.0,...,1.0,18383.0,NaN,9.0,60 months,45.9,0.0,21.0,NaN,Jan-2017
7,3.0,0.0,1.0,100.0,0.0,18004.90,Debt consolidation,4.0,0.0,6.0,...,1.0,60336.0,NaN,10.0,60 months,16.7,0.0,17.0,NaN,Jan-2017
8,1.0,0.0,2.0,100.0,0.0,829.90,Debt consolidation,1.0,0.0,5.0,...,1.0,54962.0,NaN,NaN,60 months,12.1,0.0,13.0,NaN,Jan-2017
9,7.0,0.0,4.0,96.6,0.0,10128.96,Major purchase,4.0,0.0,6.0,...,1.0,4567.0,12.0,1.0,60 months,77.5,0.0,19.0,NaN,Jan-2017
10,2.0,0.0,14.0,100.0,0.0,432.66,NaN,0.0,0.0,3.0,...,1.0,2737.0,NaN,10.0,60 months,55.9,0.0,7.0,13.85,Jan-2017
11,6.0,0.0,1.0,97.0,0.0,508.30,Debt consolidation,3.0,0.0,8.0,...,1.0,12617.0,54.0,14.0,60 months,39.9,2.0,15.0,NaN,Jan-2017
12,1.0,0.0,9.0,100.0,0.0,363.07,Debt consolidation,1.0,0.0,6.0,...,1.0,17922.0,NaN,11.0,60 months,61.0,0.0,21.0,NaN,Jan-2017
13,3.0,0.0,3.0,76.9,0.0,123.03,Debt consolidation,3.0,0.0,4.0,...,1.0,1506.0,30.0,4.0,36 months,37.2,2.0,9.0,NaN,Jan-2017
14,3.0,0.0,2.0,97.4,0.0,926.35,Business,2.0,0.0,5.0,...,1.0,57830.0,6.0,0.0,36 months,27.1,0.0,27.0,NaN,May-2016
15,7.0,0.0,1.0,95.7,0.0,306.45,Credit card refinancing,2.0,0.0,9.0,...,1.0,8182.0,NaN,1.0,36 months,50.1,0.0,19.0,NaN,Jan-2017
16,2.0,0.0,2.0,100.0,0.0,47.10,NaN,1.0,0.0,11.0,...,1.0,7940.0,NaN,18.0,36 months,77.0,0.0,17.0,NaN,Jan-2017
17,0.0,0.0,32.0,100.0,0.0,405.18,Debt consolidation,0.0,0.0,3.0,...,1.0,844.0,NaN,NaN,36 months,91.0,0.0,4.0,NaN,Jan-2017
18,4.0,0.0,1.0,100.0,0.0,471.70,Debt consolidation,3.0,0.0,13.0,...,1.0,5128.0,NaN,2.0,60 months,51.3,0.0,19.0,NaN,Jan-2017
19,2.0,0.0,10.0,94.4,0.0,263.74,Credit card refinancing,2.0,0.0,3.0,...,1.0,9966.0,75.0,10.0,36 months,41.4,1.0,11.0,NaN,Jan-2017
20,0.0,0.0,13.0,93.3,0.0,631.26,Major purchase,0.0,0.0,2.0,...,1.0,13674.0,3.0,8.0,36 months,5.7,1.0,3.0,NaN,Jan-2017
21,3.0,0.0,10.0,96.3,0.0,15681.05,Debt consolidation,2.0,0.0,6.0,...,1.0,0.0,49.0,10.0,36 months,102.9,0.0,16.0,NaN,Nov-2016
22,1.0,0.0,22.0,100.0,0.0,949.38,Debt consolidation,0.0,0.0,5.0,...,1.0,10607.0,NaN,10.0,36 months,63.4,0.0,19.0,NaN,Jan-2017
23,0.0,0.0,19.0,100.0,0.0,169.54,Credit card refinancing,0.0,0.0,2.0,...,1.0,0.0,NaN,19.0,36 months,101.4,0.0,2.0,NaN,Jan-2017
24,1.0,0.0,15.0,100.0,0.0,602.30,Debt consolidation,0.0,0.0,3.0,...,1.0,73931.0,NaN,4.0,36 months,3.0,0.0,13.0,NaN,Jan-2017
25,0.0,0.0,26.0,66.7,0.0,146.16,Debt consolidation,0.0,0.0,2.0,...,1.0,2233.0,18.0,14.0,36 months,14.1,0.0,5.0,NaN,Jan-2017
26,1.0,0.0,13.0,90.5,0.0,451.73,Home improvement,0.0,0.0,6.0,...,1.0,7011.0,47.0,5.0,36 months,51.0,0.0,14.0,NaN,Jan-2017
27,0.0,0.0,9.0,100.0,0.0,17.88,Credit card refinancing,1.0,0.0,2.0,...,1.0,11397.0,NaN,10.0,36 months,51.7,0.0,13.0,NaN,Nov-2016
28,1.0,0.0,18.0,93.7,0.0,186.61,Debt consolidation,0.0,0.0,4.0,...,1.0,437.0,15.0,6.0,36 months,88.5,0.0,9.0,NaN,Jan-2017
29,2.0,0.0,1.0,80.0,0.0,580.21,Business,2.0,0.0,5.0,...,1.0,3684.0,33.0,14.0,36 months,21.6,1.0,7.0,NaN,Jan-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,NaN,0.0,22.0,88.0,0.0,408.52,Credit card refinancing,0.0,0.0,2.0,...,1.0,0.0,15.0,22.0,36 months,102.2,0.0,11.0,NaN,Jan-2017
421066,NaN,0.0,14.0,100.0,0.0,498.15,Debt consolidation,0.0,0.0,6.0,...,1.0,92.0,NaN,22.0,36 months,99.0,0.0,8.0,NaN,Jan-2017
421067,NaN,0.0,5.0,80.0,0.0,617.46,Debt consolidation,4.0,0.0,7.0,...,1.0,8355.0,69.0,6.0,36 months,68.7,5.0,14.0,NaN,Jan-2017
421068,NaN,0.0,6.0,88.9,0.0,147.64,Medical expenses,6.0,0.0,8.0,...,1.0,152.0,38.0,10.0,36 months,97.3,3.0,20.0,NaN,Jan-2017
421069,NaN,0.0,15.0,100.0,0.0,11390.79,Debt consolidation,0.0,0.0,9.0,...,1.0,92713.0,NaN,NaN,36 months,25.6,0.0,17.0,NaN,Dec-2016
421070,NaN,0.0,7.0,100.0,0.0,554.32,Credit card refinancing,2.0,0.0,8.0,...,1.0,19410.0,NaN,11.0,60 months,68.1,0.0,22.0,NaN,Jan-2017
421071,NaN,0.0,4.0,88.9,0.0,16043.74,Debt consolidation,3.0,0.0,4.0,...,1.0,2290.0,30.0,9.0,60 months,77.1,1.0,10.0,NaN,Jan-2017
421072,NaN,0.0,3.0,100.0,0.0,216.50,Debt consolidation,2.0,0.0,6.0,...,1.0,42.0,NaN,0.0,36 months,97.8,0.0,11.0,NaN,Jan-2017
421073,NaN,0.0,11.0,100.0,0.0,329.44,Other,2.0,0.0,7.0,...,1.0,8640.0,NaN,11.0,60 months,61.6,0.0,9.0,NaN,Jan-2017
421074,NaN,0.0,24.0,100.0,0.0,607.82,Debt consolidation,0.0,0.0,5.0,...,1.0,892.0,NaN,4.0,60 months,94.9,0.0,6.0,NaN,Jan-2017
421075,NaN,0.0,13.0,95.2,0.0,545.87,Debt consolidation,0.0,0.0,5.0,...,1.0,22313.0,17.0,14.0,60 months,67.0,0.0,13.0,NaN,Jan-2017
421076,NaN,0.0,12.0,100.0,0.0,21115.20,Debt consolidation,1.0,0.0,9.0,...,1.0,7830.0,NaN,16.0,60 months,62.5,0.0,26.0,NaN,Jan-2017
421077,NaN,0.0,18.0,100.0,0.0,639.15,Credit card refinancing,0.0,0.0,5.0,...,1.0,52944.0,NaN,11.0,36 months,30.6,0.0,11.0,NaN,Jan-2017
421078,NaN,0.0,6.0,85.2,0.0,251.40,Debt consolidation,2.0,0.0,5.0,...,1.0,1413.0,24.0,6.0,36 months,75.6,4.0,12.0,NaN,Jan-2017
421079,NaN,0.0,11.0,80.0,1.0,7501.84,Debt consolidation,1.0,0.0,5.0,...,1.0,2090.0,8.0,11.0,36 months,80.1,1.0,10.0,NaN,Oct-2016
421080,NaN,0.0,14.0,96.9,0.0,306.45,Debt consolidation,0.0,0.0,1.0,...,1.0,19771.0,29.0,14.0,36 months,34.7,0.0,18.0,NaN,Jan-2017
421081,NaN,0.0,47.0,100.0,0.0,10686.69,Major purchase,0.0,0.0,1.0,...,1.0,20028.0,NaN,NaN,60 months,3.2,0.0,11.0,NaN,Mar-2015
421082,NaN,0.0,18.0,100.0,0.0,4858.17,Debt consolidation,0.0,0.0,2.0,...,1.0,44.0,NaN,5.0,36 months,97.6,0.0,2.0,NaN,Dec-2015
421083,NaN,0.0,21.0,90.5,0.0,9439.34,Debt consolidation,0.0,0.0,3.0,...,1.0,27948.0,16.0,3.0,36 months,27.8,1.0,15.0,NaN,Jun-2015
421084,NaN,0.0,2.0,80.0,0.0,240.30,Debt consolidation,3.0,0.0,6.0,...,1.0,5395.0,10.0,2.0,36 months,21.8,0.0,13.0,NaN,Jan-2017
421085,NaN,0.0,7.0,100.0,0.0,3655.51,Car financing,2.0,0.0,5.0,...,1.0,12401.0,NaN,3.0,36 months,3.9,0.0,15.0,NaN,Oct-2016
421086,NaN,0.0,1.0,96.6,0.0,240.22,Debt consolidation,4.0,0.0,7.0,...,1.0,5636.0,69.0,11.0,36 months,47.3,1.0,13.0,NaN,Jan-2017
421087,NaN,0.0,1.0,90.0,0.0,25.00,Debt consolidation,3.0,0.0,4.0,...,1.0,625.0,65.0,1.0,36 months,75.0,0.0,10.0,NaN,Oct-2016
421088,NaN,0.0,8.0,100.0,0.0,6281.14,Credit card refinancing,1.0,0.0,7.0,...,1.0,9234.0,NaN,14.0,36 months,66.4,0.0,13.0,NaN,Nov-2016
421089,NaN,0.0,1.0,98.3,0.0,398.52,Credit card refinancing,3.0,0.0,8.0,...,1.0,4776.0,9.0,14.0,36 months,69.0,1.0,20.0,NaN,Jan-2017
421090,NaN,0.0,10.0,100.0,0.0,332.10,Debt consolidation,1.0,0.0,6.0,...,1.0,448.0,NaN,9.0,36 months,95.1,0.0,8.0,NaN,Jan-2017
421091,NaN,0.0,3.0,56.5,0.0,797.03,Home improvement,2.0,0.0,3.0,...,1.0,976.0,26.0,3.0,36 months,89.2,10.0,17.0,NaN,Jan-2017
421092,NaN,0.0,6.0,100.0,0.0,316.07,Debt consolidation,3.0,0.0,6.0,...,1.0,2554.0,NaN,10.0,60 months,75.9,0.0,10.0,NaN,Dec-2016
421093,NaN,0.0,5.0,95.0,0.0,317.86,Debt consolidation,2.0,1.0,7.0,...,1.0,3752.0,22.0,0.0,60 months,61.3,1.0,16.0,NaN,Oct-2016
421094,NaN,0.0,5.0,100.0,0.0,664.20,Credit card refinancing,1.0,0.0,5.0,...,1.0,8434.0,NaN,0.0,36 months,79.8,0.0,7.0,NaN,Jan-2017

In [50]:
y2015.dtypes

id                                float64
member_id                         float64
loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                          float64
installment                       float64
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
title                              object
dti                               float64
delinq_2yrs                       float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          float64
pub_rec                           float64
revol_bal                         float64
total_acc                         float64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
                                   ...
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
Length: 97, dtype: object

In [51]:
cat_df=y2015.select_dtypes(include=['object'])
cat_df.head()

,term,verification_status,issue_d,loan_status,pymnt_plan,title,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint
0,60 months,Not Verified,Dec-2015,Current,n,Credit card refinancing,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
1,36 months,Not Verified,Dec-2015,Current,n,Credit card refinancing,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
2,36 months,Not Verified,Dec-2015,Fully Paid,n,Debt consolidation,w,Sep-2016,NaN,Jan-2017,INDIVIDUAL,NaN
3,36 months,Not Verified,Dec-2015,Current,n,Debt consolidation,w,Jan-2017,Jan-2017,Jan-2017,INDIVIDUAL,NaN
4,36 months,Verified,Dec-2015,Fully Paid,n,Debt consolidation,w,May-2016,NaN,Jun-2016,INDIVIDUAL,NaN

In [52]:
cat_df.columns.tolist()

['term',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'title',
 'initial_list_status',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'application_type',
 'verification_status_joint']

In [53]:
cat_df['loan_status'].unique()

array(['Current', 'Fully Paid', 'Charged Off', 'Late (31-120 days)',
       'In Grace Period', 'Default', 'Late (16-30 days)'], dtype=object)

In [54]:
cat_df.drop(['verification_status', 'verification_status_joint', 
             'initial_list_status', 'last_credit_pull_d', 'application_type',
             'pymnt_plan', 'issue_d', 'pymnt_plan', 'last_pymnt_d', 'next_pymnt_d'], 1, inplace=True)

In [55]:
cat_df.columns.tolist()

['term', 'loan_status', 'title']

In [56]:
cat_dummy=pd.get_dummies(cat_df)

In [57]:
cat_dummy.columns.tolist()

['term_ 36 months',
 'term_ 60 months',
 'loan_status_Charged Off',
 'loan_status_Current',
 'loan_status_Default',
 'loan_status_Fully Paid',
 'loan_status_In Grace Period',
 'loan_status_Late (16-30 days)',
 'loan_status_Late (31-120 days)',
 'title_Business',
 'title_Car financing',
 'title_Credit Card/Auto Repair',
 'title_Credit card refinancing',
 'title_Debt consolidation',
 'title_DebtC',
 'title_Green loan',
 'title_Home buying',
 'title_Home improvement',
 'title_Learning and training',
 'title_Major purchase',
 'title_Medical expenses',
 'title_Moving and relocation',
 'title_New Baby and New House (CC Consolidate)',
 'title_Other',
 'title_Pay off Lowes Card',
 'title_Paying off higher interest cards & auto',
 'title_Prescription Drug and Medical Costs',
 'title_SAVE',
 'title_Simple Loan Until Contract Is Completed',
 'title_Student Loan',
 'title_Trying to come back to reality!',
 'title_Vacation',
 'title_considerate',
 'title_new day',
 'title_new kitchen for momma!',
 'title_odymeds']

In [58]:
num_df=y2015.select_dtypes(include=['float64'])

In [59]:
num_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,68009401.0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,48000.0,33.18,0.0,...,0.0,0.0,2.0,78.9,0.0,0.0,298100.0,31329.0,281300.0,13400.0
1,68354783.0,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,60000.0,22.44,0.0,...,0.0,0.0,2.0,100.0,66.7,0.0,88635.0,55387.0,12500.0,75635.0
2,68466916.0,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,109000.0,26.02,0.0,...,0.0,0.0,0.0,100.0,20.0,0.0,373572.0,68056.0,38400.0,82117.0
3,68466961.0,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,92000.0,21.60,0.0,...,0.0,0.0,0.0,91.7,22.2,0.0,304003.0,74920.0,41500.0,42503.0
4,68495092.0,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,55000.0,25.49,0.0,...,0.0,0.0,12.0,100.0,50.0,1.0,38998.0,18926.0,2750.0,18248.0

In [60]:
num_df.columns.tolist()

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'annual_inc_joint',
 'dti_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [61]:
num_df.drop(['id', 'delinq_2yrs', 
             'tot_hi_cred_lim', 'annual_inc', 'num_tl_120dpd_2m',
             'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'mths_since_recent_bc_dlq',
             'pub_rec_bankruptcies', 'inq_last_6mths'], 1, inplace=True)

In [68]:
num_df.shape

(421095, 73)

In [69]:
num_df.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,dti,mths_since_last_delinq,mths_since_last_record,open_acc,...,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,percent_bc_gt_75,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,72868139.0,16000.0,16000.0,16000.0,14.85,379.39,33.18,33.0,2.0,11.0,...,8.0,6.0,9.0,11.0,9.0,11.0,0.0,31329.0,281300.0,13400.0
1,73244544.0,9600.0,9600.0,9600.0,7.49,298.58,22.44,NaN,NaN,7.0,...,3.0,5.0,4.0,4.0,3.0,7.0,66.7,55387.0,12500.0,75635.0
2,73356753.0,25000.0,25000.0,25000.0,7.49,777.55,26.02,NaN,NaN,9.0,...,6.0,7.0,5.0,9.0,3.0,9.0,20.0,68056.0,38400.0,82117.0
3,73356799.0,28000.0,28000.0,28000.0,6.49,858.05,21.60,42.0,NaN,16.0,...,11.0,4.0,13.0,18.0,9.0,16.0,22.2,74920.0,41500.0,42503.0
4,73384866.0,8650.0,8650.0,8650.0,19.89,320.99,25.49,NaN,30.0,18.0,...,2.0,2.0,17.0,17.0,13.0,18.0,50.0,18926.0,2750.0,18248.0

In [76]:
num_df_dropped=num_df.dropna(axis=1, how='any', thresh=421095*0.98)

In [77]:
num_df_dropped.isna().sum()

member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
int_rate                         0
installment                      0
dti                              0
open_acc                         0
pub_rec                          0
revol_bal                        0
total_acc                        0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_amnt                  0
collections_12_mths_ex_med       0
policy_code                      0
acc_now_delinq                   0
tot_coll_amt                     0
tot_cur_bal                      0
total_rev_hi_lim                 0
acc_open_past_24mths             0
avg_cur_bal                      0
bc_open_to_buy                3963
bc_util                       4227
chargeoff_within_12_mths         0
delinq_amnt                      0
mo_sin_old_rev_tl_op             0
mo_sin_rcnt_rev_tl_op            0
mo_sin_rcnt_tl                   0
mort_acc                         0
mths_since_recent_bc          3798
num_accts_ever_120_pd            0
num_actv_bc_tl                   0
num_actv_rev_tl                  0
num_bc_sats                      0
num_bc_tl                        0
num_il_tl                        0
num_op_rev_tl                    0
num_rev_accts                    1
num_rev_tl_bal_gt_0              0
num_sats                         0
percent_bc_gt_75              4239
total_bal_ex_mort                0
total_bc_limit                   0
total_il_high_credit_limit       0
dtype: int64

In [78]:
indices = np.where(num_df_dropped.isna())

In [80]:
num_df_dropped.iloc[101]

member_id                     73306061.00
loan_amnt                         5000.00
funded_amnt                       5000.00
funded_amnt_inv                   5000.00
int_rate                             9.80
installment                        160.87
dti                                  6.52
open_acc                            11.00
pub_rec                              1.00
revol_bal                         4838.00
total_acc                           20.00
out_prncp                         3493.07
out_prncp_inv                     3493.07
total_pymnt                       1923.63
total_pymnt_inv                   1923.63
total_rec_prncp                   1506.93
total_rec_int                      416.70
total_rec_late_fee                   0.00
recoveries                           0.00
collection_recovery_fee              0.00
last_pymnt_amnt                    160.87
collections_12_mths_ex_med           0.00
policy_code                          1.00
acc_now_delinq                       0.00
tot_coll_amt                         0.00
tot_cur_bal                     142064.00
total_rev_hi_lim                  8600.00
acc_open_past_24mths                 3.00
avg_cur_bal                      12915.00
bc_open_to_buy                        NaN
bc_util                               NaN
chargeoff_within_12_mths             0.00
delinq_amnt                          0.00
mo_sin_old_rev_tl_op                43.00
mo_sin_rcnt_rev_tl_op                7.00
mo_sin_rcnt_tl                       7.00
mort_acc                             2.00
mths_since_recent_bc                  NaN
num_accts_ever_120_pd                0.00
num_actv_bc_tl                       0.00
num_actv_rev_tl                      3.00
num_bc_sats                          0.00
num_bc_tl                            0.00
num_il_tl                           14.00
num_op_rev_tl                        4.00
num_rev_accts                        4.00
num_rev_tl_bal_gt_0                  3.00
num_sats                            11.00
percent_bc_gt_75                      NaN
total_bal_ex_mort                20751.00
total_bc_limit                       0.00
total_il_high_credit_limit       23281.00
Name: 101, dtype: float64

In [79]:
print(indices)

(array([   101,    101,    101, ..., 420984, 420984, 420984]), array([29, 30, 37, ..., 30, 37, 48]))

In [85]:
row_indices=np.unique(indices[0]).tolist()
print(len(row_indices))

4504

In [86]:
num_df_dropped.drop(row_indices, inplace=True)

/root/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [88]:

pca = decomposition.PCA(n_components=3)
pca.fit(num_df_dropped)
transform_df = pca.transform(num_df_dropped)

In [90]:

pca_df = pd.DataFrame(data = transform_df
             , columns = ['pc 1', 'pc 2', 'pc 3'])

In [101]:
pca_df.tail()

                pc 1           pc 2          pc 3
416586  1.849300e+07 -119273.968144 -11235.009163
416587  1.844293e+07  -11166.829871 -62879.131311
416588  1.861289e+07 -106857.025968   4071.983172
416589  1.837305e+07  -73896.369012  39829.693366
416590  1.861298e+07 -105356.308335 -10276.397823

In [108]:
#cat_dummy.drop(row_indices, inplace=True)
cat_dummy.reset_index(drop=True, inplace=True)

In [109]:
cat_dummy.index

RangeIndex(start=0, stop=416591, step=1)

In [110]:
cat_dummy.shape

(416591, 36)

In [111]:
cat_pca = pd.concat([cat_dummy,pca_df],axis=1)

In [112]:
cat_pca.tail()

,term_ 36 months,term_ 60 months,loan_status_Charged Off,loan_status_Current,loan_status_Default,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days),title_Business,...,title_Student Loan,title_Trying to come back to reality!,title_Vacation,title_considerate,title_new day,title_new kitchen for momma!,title_odymeds,pc 1,pc 2,pc 3
416586,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.849300e+07,-119273.968144,-11235.009163
416587,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.844293e+07,-11166.829871,-62879.131311
416588,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.861289e+07,-106857.025968,4071.983172
416589,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.837305e+07,-73896.369012,39829.693366
416590,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.861298e+07,-105356.308335,-10276.397823

In [113]:
target=['loan_status_Charged Off',
 'loan_status_Current',
 'loan_status_Default',
 'loan_status_Fully Paid',
 'loan_status_In Grace Period',
 'loan_status_Late (16-30 days)',
 'loan_status_Late (31-120 days)']

In [114]:
target_df=cat_pca[target]

In [119]:

cat_pca_variable=cat_pca.drop(['loan_status_Charged Off',
 'loan_status_Current',
 'loan_status_Default',
 'loan_status_Fully Paid',
 'loan_status_In Grace Period',
 'loan_status_Late (16-30 days)',
 'loan_status_Late (31-120 days)'], axis=1)

In [121]:
from sklearn.model_selection import train_test_split
cat_pca_variable_train, cat_pca_variable_test, target_df_train, target_df_test = train_test_split(
    cat_pca_variable, target_df, test_size=0.2, random_state=42)

In [124]:
#random forest classifer using 10 fold cross validation if below numerical columns
from sklearn.model_selection import cross_val_score 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, max_depth=2,
                             random_state=0)
scores = cross_val_score(clf, cat_pca_variable, target_df, cv=5)
scores

array([0.77238085, 0.73668355, 0.68869872, 0.63792938, 0.57981469])